USE [master]
GO
/****** Object:  Database [School]    Script Date: 9/16/2020 10:19:10 AM ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\School.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\School_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 9/16/2020 10:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassId] [int] NOT NULL,
	[MajorId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
 CONSTRAINT [PK__Classes__CB1927C03F14F819] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 9/16/2020 10:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] NOT NULL,
	[StartDay] [date] NULL,
	[FinishDay] [date] NULL,
 CONSTRAINT [PK__Courses__C92D71A798C7CD5F] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfomationSubjects]    Script Date: 9/16/2020 10:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfomationSubjects](
	[ProgramId] [int] NOT NULL,
	[MajorId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[StudyYear] [int] NOT NULL,
	[Semester] [int] NULL,
	[TheoreticalHour] [int] NULL,
	[PraticeHour] [int] NULL,
 CONSTRAINT [PK__Infomati__D9F90FD2679F151F] PRIMARY KEY CLUSTERED 
(
	[ProgramId] ASC,
	[MajorId] ASC,
	[SubjectId] ASC,
	[StudyYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 9/16/2020 10:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[MajorId] [int] NOT NULL,
	[MajorName] [nvarchar](100) NULL,
	[FoundedYear] [int] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK__Majors__D5B8BF91E864AD82] PRIMARY KEY CLUSTERED 
(
	[MajorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 9/16/2020 10:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[ProgramId] [int] NOT NULL,
	[ProgramName] [nvarchar](100) NULL,
 CONSTRAINT [PK__Programs__7525605804CB3EE2] PRIMARY KEY CLUSTERED 
(
	[ProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 9/16/2020 10:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[StudentId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[ExamTime] [int] NOT NULL,
	[TestScore] [float] NULL,
 CONSTRAINT [PK__Results__0800C6081B50451D] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[SubjectId] ASC,
	[ExamTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 9/16/2020 10:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] NOT NULL,
	[StudentName] [nvarchar](100) NULL,
	[BirthDay] [date] NULL,
	[ClassId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK__Students__32C52B999360B586] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 9/16/2020 10:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] NOT NULL,
	[MajorId] [int] NOT NULL,
	[SubjectName] [nvarchar](100) NULL,
 CONSTRAINT [PK__Subjects__AC1BA3A8DAB31507] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK__Classes__CourseI__2B3F6F97] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK__Classes__CourseI__2B3F6F97]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK__Classes__MajorId__2A4B4B5E] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Majors] ([MajorId])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK__Classes__MajorId__2A4B4B5E]
GO
ALTER TABLE [dbo].[InfomationSubjects]  WITH CHECK ADD  CONSTRAINT [FK__Infomatio__Major__38996AB5] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Majors] ([MajorId])
GO
ALTER TABLE [dbo].[InfomationSubjects] CHECK CONSTRAINT [FK__Infomatio__Major__38996AB5]
GO
ALTER TABLE [dbo].[InfomationSubjects]  WITH CHECK ADD  CONSTRAINT [FK__Infomatio__Progr__37A5467C] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Programs] ([ProgramId])
GO
ALTER TABLE [dbo].[InfomationSubjects] CHECK CONSTRAINT [FK__Infomatio__Progr__37A5467C]
GO
ALTER TABLE [dbo].[InfomationSubjects]  WITH CHECK ADD  CONSTRAINT [FK__Infomatio__Subje__398D8EEE] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[InfomationSubjects] CHECK CONSTRAINT [FK__Infomatio__Subje__398D8EEE]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK__Results__Student__33D4B598] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK__Results__Student__33D4B598]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK__Results__Subject__34C8D9D1] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK__Results__Subject__34C8D9D1]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK__Students__ClassI__2E1BDC42] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK__Students__ClassI__2E1BDC42]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK__Subjects__Subjec__30F848ED] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Majors] ([MajorId])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK__Subjects__Subjec__30F848ED]
GO
USE [master]
GO
